body {
    background-image: url('images/background.jpg');
    background-size: cover;
}

button > * {
    pointer-events: none;
}

.button-container {
    display: flex;
    justify-content: space-between;

    flex-basis: 100%;
}

.button-container button {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    margin: 5px;

    background-color: rgba(0,0,0,0.8);
    border: .3rem solid black;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    font-family: 'Rajdhani';
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    transition: all 0.7s ease;
    user-select: none;
}

.button-effect {
    transform: scale(1.1);

    border-color: #1eb019 !important;
    box-shadow: 0 0 1rem #1eb019;
}

#game-board {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 800px;
}

#game-result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    text-align: center;
    user-select: none;
}

#game-result div {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    margin: 10px;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

#keybind {
    margin-top: 5px;

    color: #1eb019;
    font-size: 1.5rem;
}

#player-area {
    margin: 10px 0;
    padding: 10px;
}

#player-area:first-child {
    margin-bottom: 10px;
}

#player-name {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;

    text-align: center;
}

#player-divs button:hover {
    background-color: rgba(0,0,0,1);
    border-color: #1eb019;
}

#round-result {
    margin: 0 10px 15px;
    height: 25px;
    padding: 10px;

    background: rgba(0,0,0,0.9);
    color: #326ead;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

#score {
    font-family: 'Press Start 2P', cursive;
    font-size: 6rem;
}

.scoreboard {
    padding: 5px;
    margin: 5px;

    background: rgba(0,0,0,0.9);
    color: white;
}

#title {
    color: #326ead;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}